
.post {
  max-width: 900px;   /* not working */
  width: 100%;
}


.sidebar {
  background-color: #111827 ;
}

/* Zoomable image */
 
.zoomable {
  cursor: zoom-in;
  transition: transform 0.2s ease;
}

.zoomable:hover {
  transform: scale(1.01);
}

/* Overlay */
#img-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#img-overlay img {
  max-width: 90%;
  max-height: 90%;
  cursor: zoom-out;
}
